* {
    padding: 5;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: white;
    color: black;
    font-family: "Fira Sans", sans-serif;
    background-color: white;
}

h1 {
    background-color: darkolivegreen;
    width: auto;
    padding-left: 20px;
}

p {
    border: solid;
    margin-bottom: 10px;
}

main {
       padding: 5px;
       margin-bottom: 5px;
       border: solid;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 32px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
    float: right;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.moon {
    color: #ffa502;
}

.sun {
    color: #ffff00;
}

.checkbox:checked+.label .switcher {
    transform: translateX(24px);
}

/* dark theme */
body.dark {
    background-color: #1e272e;
    color:tan;
}

body.dark p {
    color: tan;
}

body.dark h2 h3 {
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
    height: 2.5rem;
   }