form {
    width: 100vh;
    margin-top: 50px;
    padding: 10px;
}

form input,
textarea {
    width: 500px;
    margin: 10px;
    padding: 10px;
    display: block;
    outline: none;
}

button {
    margin-left: 10px;
}